<?xml version="1.0"?>
<!-- Servicio Becario
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <section name="system.identityModel.services" type="System.IdentityModel.Services.Configuration.SystemIdentityModelServicesSection, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />   
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
    <section name="ServicioBecario.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
 <connectionStrings>
  
   <!--Desarrollo-->
    <add name="ServiobecarioConnectionString" connectionString="Data Source=devl504db08.svcs.itesm.mx\SQL2012;Initial Catalog=Serviobecario;Persist Security Info=True;User ID=becario;Password=B1usuario;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
    <!--Pruebas-->
    <add name="ServiobecarioConnectionString2" connectionString="Data Source=pprd023db03.svcs.itesm.mx\SQLCATSERV;Initial Catalog=Serviobecario;Persist Security Info=True;User ID=becario;Password=B1usuario;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" /> 
 </connectionStrings>
 <location path="FederationMetadata">
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
 

 <customErrors   mode="RemoteOnly" defaultRedirect="HttpErrorPage.aspx" />
	<authorization>
        <allow users="*" />
    </authorization>
</system.web>
</location>
  <system.web>
	<authentication mode="None" />
	<compilation debug="true" targetFramework="4.5" />
	<pages controlRenderingCompatibilityVersion="4.0" />
	
<httpRuntime requestValidationMode="4.5" />
    <machineKey decryptionKey="55E95F3983BBAF164CEB917C49A8FB1C0DFE6F49842D117B" validationKey="CF1074ABBED32F38DF6FE55F451E22283350933356A9FAC815D1287EF3C129E7F4F4D06B07B542EC6A107D469568266B1736B3839B432C07FDD62839A7F889BD" />
        <authorization>
            <deny users="?" />
        </authorization>
    </system.web>
	 <appSettings>
		<add key="variableFija" value="SPHostUrl=https%3A%2F%2Fcolaboratest.itesm.mx%2Fsites%2FDevPortal**SPLanguage=es-ES**SPClientTag=6**SPProductNumber=15.0.4675.1000" />
		<add key="reglamento" value=""/>
		<add key="Ambiente" value="pprd"/> <!--pprd ***pruebas             prod**produccion-->
		<add key="aspnet:MaxHttpCollectionKeys" value="60001"/> 
	  <add key="IpDesarrollo" value="10.97.83.72"/> 
	  <add key="IpPruebas" value="10.2.17.49"/>
    <add key="ida:FederationMetadataLocation" value="https://fstest.itesm.mx/FederationMetadata/2007-06/FederationMetadata.xml" />
    <add key="ida:Issuer" value="https://fstest.itesm.mx/adfs/ls/" />
    <add key="ida:ProviderSelection" value="productionSTS" />
    <add key="TrustedProviderName" value="ADFSTEST" />
    <add key="MembershipProviderName" value="*********" />   
    <add value="https://fstest.itesm.mx" key="ADFS" />   
     
     
   
    
    <add value="https://miespaciotest.itesm.mx" key="MIESPACIO"/> 
     
   
  

    </appSettings>
	<applicationSettings>
		<ServicioBecario.Properties.Settings>
		  <setting name="ServicioBecario_Empleados_InformacionLaboralHttpService"
   serializeAs="String">
			<value>http://esbsvrqa01.itesm.mx:8080/ESB/TyC/InformacionLaboral</value>
		  </setting>
		  <setting name="ServicioBecario_prodInformacionLaboral_InformacionLaboralHttpService"
   serializeAs="String">
			<value>http://esbsvr01.itesm.mx:80/ESB/TyC/InformacionLaboral</value>
		  </setting>
		</ServicioBecario.Properties.Settings> 
  </applicationSettings>

	
	<system.webServer>
		<modules>
		  <remove name="FormsAuthentication" />
		  <add name="WSFederationAuthenticationModule" type="System.IdentityModel.Services.WSFederationAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="managedHandler" />
		  <add name="SessionAuthenticationModule" type="System.IdentityModel.Services.SessionAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="managedHandler" />
		</modules>
    </system.webServer>
	<system.identityModel>
    <identityConfiguration>
      <audienceUris>
        <add value="https://pprd023ws04.svcs.itesm.mx/" />
      </audienceUris>
      <!--Commented by Identity and Access VS Package-->
      <!--<issuerNameRegistry type="System.IdentityModel.Tokens.ConfigurationBasedIssuerNameRegistry, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"><trustedIssuers><add thumbprint="?4665cfd25e2b40fbe1e89661603dbfe0adfae337" name="http://fstest.itesm.mx/adfs/services/trust" /></trustedIssuers>-->
      <issuerNameRegistry type="System.IdentityModel.Tokens.ValidatingIssuerNameRegistry, System.IdentityModel.Tokens.ValidatingIssuerNameRegistry">
        <authority name="http://fstest.itesm.mx/adfs/services/trust">
          <keys>
            <!--<add thumbprint="913A2B86CF1783FB4F05E8981AF84A20575DB7D7" />-->
            <add thumbprint="D7FC253EA88407D50D1E9ED0033699425D558E40" />
          </keys>
          <validIssuers>
            <add name="http://fstest.itesm.mx/adfs/services/trust" />
          </validIssuers>
        </authority>
      </issuerNameRegistry>
      <!--certificationValidationMode set to "None" by the the Identity and Access Tool for Visual Studio. For development purposes.
      <certificateValidation certificateValidationMode="PeerTrust" />-->
      <securityTokenHandlers>
        <add type="System.IdentityModel.Services.Tokens.MachineKeySessionSecurityTokenHandler, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <remove type="System.IdentityModel.Tokens.SessionSecurityTokenHandler, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </securityTokenHandlers>
    </identityConfiguration>
  </system.identityModel>
	<system.identityModel.services>
    <federationConfiguration>
		<cookieHandler requireSsl="true" />
		  <!--<cookieHandler requireSsl="true" path="/" />-->
		  <wsFederation passiveRedirectEnabled="true" issuer="https://fstest.itesm.mx/adfs/ls/" realm="https://pprd023ws04.svcs.itesm.mx/" requireHttps="true" />
	</federationConfiguration>
    </system.identityModel.services>
	
	
	  

</configuration>